/data/
.idea
web/misc
/web/angularjs/dist
.bowerrc
.editorconfig
.gitattributes
.gitignore
.jshintrc
.tmp
/GoDeps
dropkick.exe
/web/angularjs
/web/sites/themes/agency
/logs
/dist
/config.json
dropkick.iml