{{ define "header"}}
<link rel="stylesheet" type="text/css" href="/sites/themes/ice/bower_components/bootstrap/dist/css/bootstrap.min.css" media="all">
<!--<link rel="stylesheet" type="text/css" href="/sites/themes/ice/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" media="all">-->
<link rel="stylesheet" type="text/css" href="/sites/themes/ice/styles/css/style.css" media="all">
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
{{end}}