{{ define "title" }}An example layout{{ end }}
{{ define "content" }}
  <div class="container">
    <div class="jumbotron" style="margin-top: 20px">
      <h1>{{ .Title }}</h1>
      <p>{{ .Date }}</p>
      <p>{{ .Body }}</p>
      <p>Administrator Pages are rendered using html/template</p>
      <p>At last, No more Logic and HTML hacking</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Separation of concerns</h2>
        <p>Each developer has their own unique strengths. Imagine an environment where developers can pursue the things they want to master</p>
      </div>
      <div class="col-md-6">
        <h2>Continuous Delivery</h2>
        <p>Bring new features to your clients with speed and quality</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Ease of Deployment</h2>
        <p>Moving from dev > staging > production is easier than ever</p>
      </div>
      <div class="col-md-6">
        <h2>Community Driven</h2>
        <p>Fully Open Source</p>
      </div>
    </div>
  </div>
{{ end }}